<h1><%= t('.profile') %></h1>

<p>
  <strong><%= User.human_attribute_name(:id) %></strong>
  <%= @user.id %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %></strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:zipcode) %></strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %></strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:introduction) %></strong>
  <%= @user.introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:portrait) %></strong>
  <%= link_to @user.portrait.filename, @user.portrait if @user.portrait.attached? %>
</p>

<%= link_to t('.book'), books_path %>

<br>
<br>

<%= link_to 'ユーザー一覧', users_path %>
