<h1><%= t('.user_inf') %></h1>

<p>
  <strong><%= User.human_attribute_name(:id) %></strong>
  <%= @user.id %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %></strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:zipcode) %></strong>
  <%= @user.zipcode %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %></strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:introduction) %></strong>
  <%= @user.introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:portrait) %></strong>
  <%= link_to @user.portrait.filename, @user.portrait if @user.portrait.attached? %>
</p>

<% if current_user.following?(@user) %>
  <%= form_with(url: follow_user_path, html: { method: :delete }) do |f| %>
    <%= f.submit t('.unfollow') %>
  <% end %>
<% else %>
  <%= form_with(url: follow_users_path) do |f| %>
    <%= hidden_field_tag :followed_user_id, @user.id %>
    <%= f.submit t('.follow') %>
  <% end %>
<% end %>

<br>

<%= link_to t('.book'), books_path %>

<br>

<%= link_to t('.followings'), following_user_path %>

<%= render 'shared/link' %>
