<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('show.title') %></strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t('show.memo') %></strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= t('show.author') %></strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= t('show.picture') %></strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to t('show.edit'), edit_book_path(@book) %> |
<%= link_to t('show.back'), books_path %>
