<h1><%= t('.book_detail') %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= Book.human_attribute_name(:title) %></strong>
  <%= @showed_object.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:memo) %></strong>
  <%= @showed_object.memo %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:author) %></strong>
  <%= @showed_object.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:picture) %></strong>
  <%= image_tag(@showed_object.picture_url) if @showed_object.picture.present? %>
</p>

<br>

<%= link_to t('.edit'), edit_book_path(@showed_object) %> |
<%= link_to t('.back'), books_path %>

<br>
<br>

<%= render 'shared/comment' %>

<%= render 'shared/link' %>
