<p><%= t('.greeting') %><%= @resource.email %>!</p>

<p><%= t('.reset_instruction') %></p>

<p><%= link_to t('.subject'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.mail_discarding_notice') %></p>
<p><%= t('.password_notice') %></p>
